*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
   scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
   
}
#MAIN{ 
            width:100%;
          
}

a{
    text-decoration: NONE;
    color: white;
}
/* body{
    background-color: black;
  
} */

#top{
   top:0;
   background-color: #6d6e70;
 min-height: 100px;
 width:100%;

}
#logo {
    width: 150px;
    height:auto;
}
#name{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    padding:15px 25px;
}
#menu{
     display:flex; 
    gap: 50px;
     flex-wrap: wrap;
    justify-content: center;
   
     
} 
#menu h3{
    
    color:white;
    font-size:18px;
}
#ext{
   
    display: flex;
    align-items: center;
    gap:20px;
}

#bt1{
     background-color: #4f46e5;
    color: white;
    border: none;
    padding: 9px 20px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;

}
#bt1:hover{
     background-color: #4338ca;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
#bt2,
#bt3{
    color: white;
    font-size:24px;
    background-color:#6d6e70;
    cursor:pointer;

}
#banner{
     position: sticky;
  
    background-color:blue;
    color:white;
    padding:10px;
    font-weight:bold;
    text-align:center;
}
#bd1{
    display:flex;
    justify-content:left;
    padding:10px 10px;
}
.notice-bar {
    background-color:blue; /* Yellow */
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}


#about{
    width:100%;
    padding:50px 30px;
}

.about-container{
    max-width:1400px;
    margin:auto;

    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    gap:50px;
}

.about-video{
    flex:1;
}

.about-content{
    flex:2;
}

#intro{
    width:100%;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

#heading{
    margin-bottom:20px;
    text-align:left;
    font-size:35px;
}

.about-content h3{
    font-size:22px;
    line-height:1.8;
    text-align:justify;
    font-weight:400;
}
#abt{
 text-decoration: none;
}
#extra{
    margin-top:180px;
    position:relative;
}
#head1{


    margin-top:20px;
    text-align:center;
    font-size:45px;
    padding-bottom: 50px;
}
#head2{


    margin-top:20px;
    text-align:center;
    font-size:45px;
    padding-bottom: 50px;
}

#env2{
    width:100%;
    max-width:1200px;
    margin:30px auto;
    display:flex;
    align-items:center;
    justify-content:left;
    gap:60px;
}

#img1{
    flex:1;
}

#TXXT{
    flex:1;
}
#txt2{ 
    font-size:25px; 
    line-height:1.8;
     color:BLACK; 
    font-weight:400px; 
}

#env_2{
    width:100%; 
    height:500px;
     object-fit:cover; 
     border-radius:15px; 
    }
#env3{
    padding: 50px;
     width:100%;
    max-width:1200px;
    margin:30px auto;
    display:flex;
    align-items:center;
    justify-content:left;
    gap:60px;
}
#env_3{
    width:100%; 
    height:500px;
     object-fit:cover; 
     border-radius:15px; 
    }
#txt2{
    flex:1;
}
#env_4{
    width:100%; 
    height:500px;
     object-fit:cover; 
     border-radius:15px; 
    }


#env4{
    padding: 50px;
     width:100%;
    max-width:1200px;
    margin:30px auto;
    display:flex;
    align-items:center;
    justify-content:left;
    gap:60px;
}
#txt5{ 
    font-size:25px; 
    line-height:1.8;
     color:BLACK; 
    font-weight:400px; 
}
#txt4{
    flex:1;
}
#env_1{
    width:100%; 
    height:500px;
     object-fit:cover; 
     border-radius:15px; 
    }



#env{
    padding: 50px;
     width:100%;
    max-width:1200px;
    margin:30px auto;
    display:flex;
    align-items:center;
    justify-content:left;
    gap:60px;
}
#txttt{ 
    font-size:25px; 
    line-height:1.8;
     color:BLACK; 
    font-weight:400px; 
}
#txtt{
    flex:1;
}



 #buttonlast{
    position: fixed;
    bottom: 20px;
    right: 10px;
    width:45px;
    height:45px;
    border-radius: 50%;
    background:black;
    color:white;
    border:1px solid #333;
    cursor:pointer;
    display:none;
 }
 #contact{

    width:100%;
    padding:90px 8%;
    background:linear-gradient(135deg,#0f172a,#1e3a8a);

}

.contact-title{

    color:white;
    text-align:center;
    font-size:50px;
    margin-bottom:10px;
}

.contact-subtitle{

    text-align:center;
    color:#ddd;
    font-size:20px;
    margin-bottom:70px;
}

.contact-container{

    display:flex;
    justify-content:center;
    align-items:stretch;
    gap:35px;
    flex-wrap:wrap;

}

.contact-card{

    width:340px;
    background:white;
    border-radius:20px;
    padding:40px;
    text-align:center;
    transition:.4s;
    box-shadow:0 10px 25px rgba(0,0,0,.25);

}

.contact-card:hover{

    transform:translateY(-12px);

}

.icon{

    width:90px;
    height:90px;
    margin:auto;
    border-radius:50%;
    background:#2563eb;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:25px;

}

.icon i{

    color:white;
    font-size:40px;

}

.contact-card h2{

    margin-bottom:20px;
    color:#222;
    font-size:28px;

}

.contact-card p{

    color:#555;
    line-height:1.9;
    font-size:18px;

}

.map{

    width:100%;
    margin-top:70px;

}

.map iframe{

    width:100%;
    height:420px;
    border:none;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.3);

}
/* tablet */
@media (max-width:992px){

    #name{
        flex-direction:column;
        gap:20px;
    }

    #menu{
        gap:20px;
    }

    #envday1{
        flex-direction:column;
        align-items:center;
    }

    #txt1{
        font-size:20px;
    }
}

/* Mobile */

@media (max-width:768px){

    #logo{
        width:120px;
    }

    #menu{
        flex-direction:column;
        align-items:center;
        gap:15px;
    }

    #menu h3{
        font-size:16px;
    }

    #ext{
        flex-wrap:wrap;
        justify-content:center;
    }

    #heading{
        font-size:22px;
    }

    #about h3{
        font-size:16px;
    }

    #one{
        font-size:30px;
    }

    #txt1{
        font-size:18px;
    }

    #bt1{
        padding:8px 15px;
    }
}
